.files-tree-viewport {
    height: 400px;
    width: 100%;
  }
  
  .example-item-detail {
    height: 18px;
  }
  
  .example-alternate {
    background: rgba(127, 127, 127, 0.3);
  }

  .leaf{
    height: 40px;
    display: flex;
    align-items: center;
  }