<div class="grid-container center-screen">
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToIncrementalBackupPage()">
                <img class="feature-icon" src="./assets/icons/features/incremental-backup.png" alt="Cumulative backup">
            </button>
        </div>
        <br>
        <h2>Cumulative backup</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToSyncDirsPage()">
                <img class="feature-icon" src="./assets/icons/features/sync-dirs.png" alt="Synchronize directories">
            </button>
        </div>
        <br>
        <h2>Synchronize directories</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToBackupToOpticalMediaPage()">
                <img class="feature-icon" src="./assets/icons/features/backup-to-optical-media.png" alt="Backup to optical media">
            </button>
        </div>
        <br>
        <h2>Backup to optical media</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToRecoverDataFromOpticalMediaBackup()">
                <img class="feature-icon" src="./assets/icons/features/recover-data-from-optical-media.png" alt="Recover data from optical media backup">
            </button>
        </div>
        <br>
        <h2>Recover data from optical media backup</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToAddFilesToColdStorage()">
                <img class="feature-icon" src="./assets/icons/features/add-missing-files.png" alt="Add missing files to optical media cold storage">
            </button>
        </div>
        <br>
        <h2>Add missing files to optical media cold storage</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div>
            <button mat-flat-button color="white" style="width: fit-content; height:fit-content;" class="file-chooser-btn" (click)="goToVerifyColdStorageIntegrity()">
                <img class="feature-icon" src="./assets/icons/features/verify-integrity.png" alt="Verify integrity of cold storage disc">
            </button>
        </div>
        <br>
        <h2>Verify integrity of cold storage disc</h2>
    </div>
</div>
