<mat-dialog-content class="mat-typography container">
    <div>
        <h3>{{ message || 'Please wait' }}</h3>
        <mat-progress-bar *ngIf="progressPercent !== undefined" mode="determinate" [value]="progressPercent"></mat-progress-bar>
        <mat-spinner *ngIf="progressPercent === undefined"></mat-spinner>
        <cdk-virtual-scroll-viewport *ngIf="lines" itemSize="18" class="loading-dialog-lines">
            <div *cdkVirtualFor="let line of lines" class="loading-dialog-line">{{ line }}</div>
        </cdk-virtual-scroll-viewport>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" *ngIf="showCancelButton">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>